[submodule "pyz3_utils"]
	path = external/pyz3_utils
	url = git@github.com:108anup/pyz3_utils.git
[submodule "ccac"]
	path = external/ccac
	url = git@github.com:108anup/ccac.git
[submodule "external/cegis"]
	path = external/cegis
	url = git@github.com:108anup/cegis.git
[submodule "external/plot_config"]
	path = external/plot_config
	url = git@github.com:108anup/plot_config.git
